body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.meals-hover{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .7s;
}

.meals-img:hover .meals-hover{
    top: 0;
}

.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 9999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color:black;
    display: flex;
}


.sidenav{
    z-index: 99;
}


.navtabs{
    background-color: black;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}






































































